@import "../node_modules/normalize.css/normalize.css";
@import "../node_modules/codemirror/lib/codemirror.css";
@import "../node_modules/codemirror/theme/solarized.css";

/* GENERIC */

body {
  font-size: 1.1em;
  line-height: 1.1;
  background: #E1E1DB;
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: "Source Code Pro", Consolas, "Ubuntu Mono", Menlo, "DejaVu Sans Mono", monospace, monospace !important;
}

button {
  font-size: 1.1rem;
  background: #a42;
  color: white;
  padding: 8px 16px;
  border: 1px solid #a42;
  border-radius: 3px;
  cursor: pointer;
}

button:disabled {
  opacity: 0.8;
  cursor: default;
}

button:active {
  box-shadow: inset 0px 0px 2px #555;
}

/* CONTAINERS, MAIN LAYOUT */

.container {
  padding: 0 2em;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}

.main {
  margin-bottom: 20px;
}

.credits {
  text-align: center;
}

.default-code {
  display: none;
}

.left-container {
  width: 70%;
  float: left;
  margin-right: 2%;
}

.noscript {
  display: none;
}


/* HEADER */

header {
  margin-bottom: 10px;
}

.subtitle {
  font-size: 1rem;
}

.toggle-edit {
  display: none;
}

.touch-device .toggle-edit {
  display: initial;
}

.show-all {
  min-width: 14rem;
}

.show-all-text {
  display: none;
}

.show-all-loaded > .show-all-text {
  display: initial;
}

.show-all-loaded > .spinner {
  display: none;
}

.show-all > .spinner {
  height: 1rem;
}

.whats-this {
  background: #428bca;
  border-color: #428bca;
}

.modal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: #f0f0f0;
  padding: 20px 40px;
  z-index: -1;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.2s;
}

.modal.show-modal {
  z-index: 10;
  opacity: 1;
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.5;
  z-index: 5;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 0;
  transition: opacity 0.2s;
}

.overlay.show-modal {
  z-index: 5;
  opacity: 0.5;
}

.close-modal-container {
  text-align: right;
}

.link, .generate {
  display: inline-block;;
}

.link.hidden {
  display: none;
}

/* MAIN */

.CodeMirror, .codemirror-placeholder {
  height: 620px;
  background: #fafafa;
  padding: 20px;
  font-size: 1.3em;
}

.codemirror-anchor {
  display: none;
}

.CodeMirror {
  visibility: hidden;
}

.codemirror-rendered .CodeMirror {
  visibility: visible;
}

.codemirror-rendered .codemirror-placeholder {
  display: none;
}

.highlighted, .show-all-computed [class*="computed-"] {
  background: #eee8d5;
}

.compilation-error {
  color: red !important;
  text-decoration: underline red wavy;
}

.compilation-error-context {
  text-decoration: underline red wavy;
}

/* EXPLANATION */

.error-message-container {
  margin-top: 20px;
  padding: 10px;
  background: white;
}

.explanation {
  width: 27%;
  float: left;
  font-size: 1.1rem;
}

.explanation p {
  line-height: 1.4;
}

.more-info, .book, .keyword {
  display: none;
}

.loaded {
  display: none;
}

.desktop-help {
  display: none;
}

.non-touch-device .mobile-help {
  display: none;
}

.non-touch-device .desktop-help {
  display: inherit;
}


/* SPINNER */

.spinner {
  width: 50px;
  height: 2em;
  text-align: center;
  font-size: 10px;
  display: inline-block;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
